In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("D:/Assesments/AI Financial Dashboard/backend/data/extracted_data/Extracted_Data.csv")
data.head()

,Year,Transportation,Consumer Foods,Retail,Leisure,Property,Financial Services,Others,Total Revenue,Earnings Per Share (EPS),Cost of Sales,Selling and distribution expenses,Administrative expenses,Other operating expenses,Gross Profit,Net Asset Per Share,Top Twenty Shareholders
0,2019,"24,346,448","16,207,641","55,749,749","23,857,951","711,319","10,829,492","3,753,548","135,456,148",11.13,"107,668,833","5,939,294","12,411,130","3,705,496","27,787,315",154.9,NaN
1,2020,"23,948,831","17,004,471","65,848,895","17,598,572","589,760","11,248,908","3,803,123","140,042,560",7.14,"113,960,929","5,518,526","13,143,112","2,872,908","26,081,631",164.5,"Mr S E Captain, Citigroup Global Markets Limit..."
2,2021,"17,418,457","16,510,040","70,228,656","5,356,272","612,009","13,601,023","3,949,193","127,675,650",3.62,"108,747,058","4,761,037","12,927,716","1,314,409","18,928,592",171.4,"Mr S E Captain, Citigroup Global Markets Limit..."
3,2022,"31,888,047","21,007,883","90,842,230","18,878,616","35,731,389","15,685,763","4,040,818","218,074,746",15.13,"180,430,008","5,732,694","14,762,643","12,456,008","37,644,738",224.8,"Paints and General Industries Limited, Mr S E ..."
4,2023,"73,646,106","31,268,870","106,848,568","39,677,238","2,122,348","16,202,957","6,873,820","276,639,907",13.12,"227,190,277","8,266,060","21,927,758","9,825,773","49,449,630",246.2,"Mr S E Captain, Melstacorp PLC, HWIC Asia Fund..."

In [3]:
# Remove commas and convert all applicable columns to numeric
numeric_cols = data.columns.drop(["Year", "Top Twenty Shareholders"])
for col in numeric_cols:
    data[col] = data[col].astype(str).str.replace(",", "").str.strip()
    data[col] = pd.to_numeric(data[col], errors="coerce")

data.head()

,Year,Transportation,Consumer Foods,Retail,Leisure,Property,Financial Services,Others,Total Revenue,Earnings Per Share (EPS),Cost of Sales,Selling and distribution expenses,Administrative expenses,Other operating expenses,Gross Profit,Net Asset Per Share,Top Twenty Shareholders
0,2019,24346448,16207641,55749749,23857951,711319,10829492,3753548,135456148,11.13,107668833,5939294,12411130,3705496,27787315,154.9,NaN
1,2020,23948831,17004471,65848895,17598572,589760,11248908,3803123,140042560,7.14,113960929,5518526,13143112,2872908,26081631,164.5,"Mr S E Captain, Citigroup Global Markets Limit..."
2,2021,17418457,16510040,70228656,5356272,612009,13601023,3949193,127675650,3.62,108747058,4761037,12927716,1314409,18928592,171.4,"Mr S E Captain, Citigroup Global Markets Limit..."
3,2022,31888047,21007883,90842230,18878616,35731389,15685763,4040818,218074746,15.13,180430008,5732694,14762643,12456008,37644738,224.8,"Paints and General Industries Limited, Mr S E ..."
4,2023,73646106,31268870,106848568,39677238,2122348,16202957,6873820,276639907,13.12,227190277,8266060,21927758,9825773,49449630,246.2,"Mr S E Captain, Melstacorp PLC, HWIC Asia Fund..."

In [4]:
# Parse Top Twenty Shareholders as a list
data["Top Twenty Shareholders"] = data["Top Twenty Shareholders"].apply(
    lambda x: [item.strip() for item in str(x).split(',')] if pd.notnull(x) else []
)

In [5]:
data.head()

,Year,Transportation,Consumer Foods,Retail,Leisure,Property,Financial Services,Others,Total Revenue,Earnings Per Share (EPS),Cost of Sales,Selling and distribution expenses,Administrative expenses,Other operating expenses,Gross Profit,Net Asset Per Share,Top Twenty Shareholders
0,2019,24346448,16207641,55749749,23857951,711319,10829492,3753548,135456148,11.13,107668833,5939294,12411130,3705496,27787315,154.9,[]
1,2020,23948831,17004471,65848895,17598572,589760,11248908,3803123,140042560,7.14,113960929,5518526,13143112,2872908,26081631,164.5,"[Mr S E Captain, Citigroup Global Markets Limi..."
2,2021,17418457,16510040,70228656,5356272,612009,13601023,3949193,127675650,3.62,108747058,4761037,12927716,1314409,18928592,171.4,"[Mr S E Captain, Citigroup Global Markets Limi..."
3,2022,31888047,21007883,90842230,18878616,35731389,15685763,4040818,218074746,15.13,180430008,5732694,14762643,12456008,37644738,224.8,"[Paints and General Industries Limited, Mr S E..."
4,2023,73646106,31268870,106848568,39677238,2122348,16202957,6873820,276639907,13.12,227190277,8266060,21927758,9825773,49449630,246.2,"[Mr S E Captain, Melstacorp PLC, HWIC Asia Fun..."

In [6]:
data["Revenue Growth (%)"] = data["Total Revenue"].pct_change() * 100

# Gross Margin (%) = Gross Profit / Total Revenue
data["Gross Margin (%)"] = (data["Gross Profit"] / data["Total Revenue"]) * 100

# Operating Expenses Total
data["Total Operating Expenses"] = (data["Selling and distribution expenses"]
    + data["Administrative expenses"] + data["Other operating expenses"]
)

# Operating Expense Ratio = Total Operating Expenses / Total Revenue
data["Operating Expense Ratio (%)"] = (
    data["Total Operating Expenses"] / data["Total Revenue"]) * 100

# EPS Growth
data["EPS Growth (%)"] = data["Earnings Per Share (EPS)"].pct_change() * 100

# Net Asset Per Share Growth
data["Net Asset Growth (%)"] = data["Net Asset Per Share"].pct_change() * 100

In [7]:
data.head()

,Year,Transportation,Consumer Foods,Retail,Leisure,Property,Financial Services,Others,Total Revenue,Earnings Per Share (EPS),...,Other operating expenses,Gross Profit,Net Asset Per Share,Top Twenty Shareholders,Revenue Growth (%),Gross Margin (%),Total Operating Expenses,Operating Expense Ratio (%),EPS Growth (%),Net Asset Growth (%)
0,2019,24346448,16207641,55749749,23857951,711319,10829492,3753548,135456148,11.13,...,3705496,27787315,154.9,[],NaN,20.513882,22055920,16.282701,NaN,NaN
1,2020,23948831,17004471,65848895,17598572,589760,11248908,3803123,140042560,7.14,...,2872908,26081631,164.5,"[Mr S E Captain, Citigroup Global Markets Limi...",3.385902,18.624075,21534546,15.377144,-35.849057,6.197547
2,2021,17418457,16510040,70228656,5356272,612009,13601023,3949193,127675650,3.62,...,1314409,18928592,171.4,"[Mr S E Captain, Citigroup Global Markets Limi...",-8.830823,14.825530,19003162,14.883936,-49.299720,4.194529
3,2022,31888047,21007883,90842230,18878616,35731389,15685763,4040818,218074746,15.13,...,12456008,37644738,224.8,"[Paints and General Industries Limited, Mr S E...",70.803709,17.262310,32951345,15.110115,317.955801,31.155193
4,2023,73646106,31268870,106848568,39677238,2122348,16202957,6873820,276639907,13.12,...,9825773,49449630,246.2,"[Mr S E Captain, Melstacorp PLC, HWIC Asia Fun...",26.855545,17.875089,40019591,14.466312,-13.284865,9.519573

In [1]:
def preprocess_financial_data(row):
    
    # Helper function to convert value safely
    def safe_int(value):
        try:
            return int(str(value).replace(',', '').strip()) if pd.notna(value) and str(value).strip() not in ['', 'nan', 'N/A'] else None
        except:
            return None

    def safe_float(value):
        try:
            return float(str(value).strip()) if pd.notna(value) and str(value).strip() not in ['', 'nan', 'N/A'] else None
        except:
            return None

    # Extract top 20 shareholders (assumes they're comma-separated strings)
    top_shareholders_names = [name.strip() for name in str(row.get("Top Twenty Shareholders", "")).split(",")] if pd.notna(row.get("Top Twenty Shareholders")) else []
    
    number_of_shares = [safe_int(share) for share in str(row.get("Number of Shares", "")).split(",")] if pd.notna(row.get("Number of Shares")) else []
    
    share_percentages = [safe_float(pct) for pct in str(row.get("Share %", "")).split(",")] if pd.notna(row.get("Share %")) else []

    return {
        "year": str(row["Year"]).strip() if pd.notna(row["Year"]) else None,
        "industry_group_revenue": {
            "Transportation": safe_int(row["Transportation"]),
            "Consumer Foods": safe_int(row["Consumer Foods"]),
            "Retail": safe_int(row["Retail"]),
            "Leisure": safe_int(row["Leisure"]),
            "Property": safe_int(row["Property"]),
            "Financial Services": safe_int(row["Financial Services"]),
            "Others": safe_int(row["Others"]),
        },
        "total_group_revenue_lkr": safe_int(row["Total Revenue"]),
        "income_statement": {
            "EPS": safe_float(row["Earnings Per Share (EPS)"]),
            "Net Profit": safe_int(row["Net Profit"]),
            "Cost of Sales": safe_int(row["Cost of Sales"]),
            "Gross Profit": safe_int(row["Gross Profit"]),
            "Net Asset Per Share": safe_float(row["Net Asset Per Share"]),
        },
        "operating_expenses_lkr": {
            "Selling and distribution": safe_int(row["Selling and distribution expenses"]),
            "Administrative": safe_int(row["Administrative expenses"]),
            "Other operating": safe_int(row["Other operating expenses"]),
        },
        "top_20_shareholders": {
            "names": top_shareholders_names,
            "shares": number_of_shares,
            "percentages": share_percentages,
        }
    }

In [2]:
raw_data = {
  "year": "2020",
  "industry_group_revenue": {
    "Transportation": "23948831",
    "Retail": "65848895",
    "Consumer Foods": "17004471",
    "Leisure": "17598572",
    "Property": "589760",
    "Financial Services": "11248908",
    "Others": "3803123"
  },
  "total_group_revenue_lkr": "140042560",
  "income_statement": {
    "EPS": "7.1",
    "Net Profit": "9741",
    "Cost of Sales": "",
    "Gross Profit": "",
    "Net Asset Per Share": "164.5"
  },
  "operating_expenses_lkr": {
    "Selling and distribution": "",
    "Administrative": "",
    "Other operating": ""
  },
  "top_20_shareholders": {
    "names": [],
    "shares": [],
    "percentages": []
  }
}

In [4]:
raw_data['industry_group_revenue']['Consumer Foods']

'17004471'